* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

header {
    background-color: #5086F2;
    padding: 2rem;
    text-align: center;
}

body {
    background-color: #F2F2F2;
    color: #0D0D0D;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
