* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

header {
    background-color: #5086F2;
    padding: 2rem;
    text-align: center;
}

body {
    background-color: #F2F2F2;
    color: #0D0D0D;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2 {
    color: #0D0D0D;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: #F28d8D;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #F28d8D;
    border-radius: 12px;
}

input::placeholder {
    color: #404040;
}

select {
    cursor: pointer;
    border-radius: 5px;
}

th {
    background-color: #5086F2;
    color: #0D0D0D;
    padding: 0.5rem;
}

td {
    color: #0D0D0D
    padding: 1rem;
    text-align: center;
}